.maincontainer {
  width: 100%;
  height: 80vh;
}
.mainImg {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}
.terms{
    width: 100%;
    padding: 5%;
}
.left{
    border-right:1px solid black;
}
.right{
}