.footerlink:hover {
  color: white !important;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.columns {
  min-width: 200px;
}
.subscribe {
  min-width: 300px;
}
@media (max-width:446px){
  .footer{
    width: 446px;
  }
}